/*  */

body {
  font-family: 'Work Sans', sans-serif;
}

img {
  max-width: 100%;
}

.sg {
  color: #6278df;
}

.sg-bg {
  background-color: #6278df;
}

.comon-h {
  font-size: 58px;
  font-weight: 600;
}

/* custom-header */

.custom-header {}

.custom-header .navbar-brand img {
  width: 48px;
}

.custom-header ul li a {
  transition: 0.3s;
}

.custom-header ul li a:hover {
  color: #6278df;
  background-color: transparent;
}

.header-custom-button:hover {
  background-color: #6278df;
  box-shadow: 0px 0px 19px 5px #6278df;
}

/* heder end */

/* banner-custom start */

.banner-custom {
  background: url(./image/mbr-10.jpg) no-repeat center center;
  background-size: cover;
}

.banner-c-con {
  padding: 200px 0px;
}

.banner-c-con h3 {
  font-size: 27px;
}

.banner-c-con h1 {
  font-size: 54px;
  font-weight: 597;
  padding: 3px 0px;
}

.banner-c-con .form-control.from-lg {}

/* banner-custom end */

/* numbur-section */

.numbur-section {}

.numbur-section h1 {}

.numbur-section p {}

/* ditels-section start */

.ditels-section {
  background-color: #f7f9ff;
}

.ditels-section .col-lg-8 {}

.ditels-section .col-lg-8 h1 {
  font-size: 43px;
  font-weight: 600;
}

.ditels-section .col-lg-8 p {
  font-size: 23px;
  padding-right: 5%;
}

.ditels-section.col-lg-4 {}

.ditels-section .col-lg-4 img {}

/*     <!-- about application start --> */

.application {}

.contont-card-s {
  /
}

.contont-card {
  height: 244px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.371);
}

.contont-card-img {
  width: 40%;
  overflow: hidden;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}

.contont-card-img-s img {
  margin-left: 0px !important;
}

.contont-card-img img {
  height: 100%;
  width: auto;
  max-width: inherit;
  margin-left: -64px;
}

.contont-card-text {
  width: 60%;
  padding: 19px;
}

.contont-card-text h3 {
  font-size: 25px;
}

.contont-card-text p {
  height: auto;
  font-size: 17px;
}

/* <!-- potfolio section start --> */

.port-item {
  transition: 1s;
}

.port-item a {
  position: relative;
  display: block;
}

.port-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #6279df75;
  opacity: 0;
  visibility: hidden;
}

.port-item:hover a::after {
  opacity: 1;
  visibility: visible;
}

/* pricing-table */

.pricing-table {
  background-color: #F7F9FF;
}

.price-card {
  padding: 50px;
  background-color: #fff;
  transition: .5S;
}

.price-card:hover {
  box-shadow: 0px 0px 40px 0px
}

.price-card:hover a {
  background-color: #6177DD;
  color: #FFF;
}

.price-card h1 {
  font-size: 54px;
  margin: 23px 0px;
}

.price-card p {
  font-size: 21px;
  color: #535353;
}

.price-card ul {}

.price-card ul li {
  list-style: none;
  margin-left: -25px;
  font-size: 21px;
  color: #535353;
  margin: 25px 0px 29px -28px;
}

.price-card ul li span {
  display: inline-block;
  font-size: 24px;
  color: #6177DD;
}

.pricing-button-sec a {
  color: #6177DD;
}

.pricing-button-sec a:hover {
  background-color: black;
}

/* quote-section start */

.quote-section {}

.user-box {}

.user-box {
  width: 300px;
  margin: auto;
}

.left-img {
  width: 40%;
}

.right-contet {
  width: 60%;
}

.right-contet h3 {
  margin-top: 10px;
}

.right-contet h5 {}

.quote-content p {
  font-size: 18px;
  padding: 21px 0px;
}

.quote-content span {
  color: #ff000031 !important;
}

/* quote-section end */

/*  <!-- team-section-start --> */

.team-secion {
  background-color: #F7F9FF;
}

/* card */
.card-s{
  margin: 70px 0px;
}
.custom-card {
 
}

.custom-card img {
  width: 137px;
  box-shadow: 0px 0px 20px 0px #686aae;
  margin: -62px 0px 9px 18px;
}

.custom-card .card-body {}

.custom-card .card-body h5 {
  font-size: 27px;
}

.custom-card .card-body p {
  font-size: 16px;
}

.custom-card .card-body a {
  box-shadow: 0px 0px 10px 0px #686aae !important;
}

/*  <!-- team-section-end --> */